*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#id1{
    width: 100px;
    height: 100px;
    background-color: cyan;
    border: darkblue 10px solid;
    padding: 75px;
}

#id2{
    width: 100px;
    height: 100px;
    background-color: red;
    border: darkblue 10px solid;
    padding: 75px;
}

#id3{
    width: 100px;
    height: 100px;
    background-color: orange;
    border: darkblue 10px solid;
    padding: 75px;
}

#id4{
    width: 250px;
    height: 250px;
    background-color:yellow;
    border: 10px solid darkblue;
    padding: 75px;
}

#main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}